.navBar-container {
	z-index: 2;
	padding: 0;
	width: 100%;

	.navBar {
		margin: 0;
		background-color: #131e21;
		height: 70px;
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		font-family: Oswald;

		.logo-container {
			display: flex;
			align-items: center;
			padding: 0;

			.logo {
				text-decoration: none;
				padding-left: 120px;

				@media only screen and (max-width:767px){
		            padding-left: 20px;
		        }

			}
		}

		.navlinks-container {
			display: flex;
			justify-content: space-around;
			align-items: center;
			padding:{
				left: 40px;
				right: 40px;
			}

			.navLink {
				font-size: 18px;
				text-decoration: none;
				color: #ececf4;
				transition: all 400ms ease;
				&:hover {
					color: #1badc0;
				}
			}

			@media only screen and (max-width:767px){
				position: relative;
				width: 130%;
		        padding:{
		        	left: 0;
		        	right: 20px;
		        }
		        justify-content: space-between;

		        .navLink {
		        	font-size: 16px;
		        }
		    }
		}
	}
}

