.profile-container {
	background-image: url("../assets/img/fondo-perfil2.png");
	font-family: AbrilFatface;

	.profile-title {
		display: flex;
		justify-content: center;
		color: #ececf4;
		font-size: 30px;
		padding: 30px;
	}

	.profile {
		display: flex;
		align-items: center;
		padding-bottom: 70px;

		.profile-img {
			display: flex;
			justify-content: end;
			position: relative;
			bottom: 10px;
		}

		.profile-text {
			display: flex;
			flex-direction: column;
			p{
				width: 70%;
				color: #ececf4;
				font-size: 18px;
			}
			.boton {
				width: 30%;
				margin-top: 15px;
				background: #02748f;
				color: #ececf4;
				border-style: none;
				padding: 12px 28px;
				border-radius: 3px;
				position: relative;
				z-index: 1;
				overflow: hidden;
				display: inline-block;
				font-size: 18px;
				text-align: center;
				text-decoration: none;
			}
			.boton:hover {
			    color: #ececf4;
			}
			.boton::after {
			  	content: "";
			  	background: #1badc0; 
			  	position: absolute;
				z-index: -1;
				padding: 16px 20px;
				display: block;
				top: 0;
				bottom: 0;
			 	left: -100%;
				right: 100%;
				-webkit-transition: all 0.35s;
				transition: all 0.35s;
			}
			.boton:hover::after {
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				-webkit-transition: all 0.35s;
				transition: all 0.35s;
			}
			@media only screen and (max-width:767px) {
				align-items: center;
				padding-top: 30px;
				p {
					text-align: start;
					width: 80%;
				}
				.boton {
					width: 50%;
					margin-top: 30px;
				}
			}
		}

		@media only screen and (max-width:767px) {
			justify-content: center;
		}	
	}

	@media only screen and (max-width:767px) {
		background-image: url("../assets/img/fondo-perfil3.png");
	}
}
